<p>
  <%= image_tag @category.icon(88) %>
</p>

<h2><%= t(:translations) %></h2>
<% @category.translations.each do |translation| %>
<h3><%= t("locales.#{translation.locale}") %></h3>
<dl>
  <dt>Name</dt>
  <dd><%= translation.name %></dd>
  <dt>Plural</dt>
  <dd><%= translation.plural_name %></dd>
  <dt>Short name</dt>
  <dd><%= translation.short_name %></dd>
</dl>
<% end %>
