
<ol class="breadcrumb">
  <li><%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-th-list"), root_path, title: "Startseite" %></li>
  <% @category.ancestors.each do |cat| %>
  <li><%= link_to cat.name, category_path(cat) %></li>
  <% end %>
  <li class="active"><%= @category.name %></li>
</ol>

<p>
  <%= image_tag @category.icon(88) %>
</p>

<h2><%= t(:translations) %></h2>
<% @category.translations.each do |translation| %>
<h3><%= t("locales.#{translation.locale}") %></h3>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= translation.name %></dd>
  <dt>Plural</dt>
  <dd><%= translation.plural_name %></dd>
  <dt>Short name</dt>
  <dd><%= translation.short_name %></dd>
</dl>
<% end %>
