<!DOCTYPE html>
<html>
<head>
  <title>Fsqcats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <p><%= link_to image_tag('powered_by_foursquare.png', alt: 'Powered by Foursquare'), 'http://foursquare.com' %></p>
</body>
</html>
