<!DOCTYPE html>
<html>
<head>
  <title>Fsqcats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="wrap">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Foursquare Kategorien", start_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Gegenüberstellung", compare_categories_path(is: 0) %></li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
          </ul> -->
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" placeholder="Suchbegriff" class="form-control typeahead">
            </div>
            <button type="submit" class="btn btn-default">Suchen</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted credit"><%= link_to image_tag('powered_by_foursquare.png', alt: 'Powered by Foursquare'), 'http://foursquare.com' %></p>
    </div>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
